<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">

        <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:700,400,400italic|Ubuntu+Mono' rel='stylesheet' type='text/css'>
        <script type="application/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel='stylesheet' href="{{ "/res/site.css" | prepend: site.baseurl }}" type="text/css">
        <script type="application/javascript" src="{{ "/res/site.js" | prepend: site.baseurl }}"></script>

        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    </head>
    <body>
        <header>
            <div class="content">
                <nav>
                    <ul>
                        <li style="font-weight:bold"><a href="{{ site.url }}/" title="Computer Science Maths">Computer Science Maths</a></li>
                        {% for page in site.pages %}{% if page.url contains '/topic/' and page.use == "index" %}
                          <li>
                            <a href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a>
                            <ul>
                              {% for article in site.pages %}{% if article.url contains page.url and article.url != page.url %}
                                <li><a href="{{ article.url | prepend: site.baseurl }}" title="{{ article.title }}">{{ article.title }}</a></li>
                              {% endif %}{% endfor %}
                            </ul>
                          </li>
                        {% endif %}{% endfor %}
                    </ul>
                </nav>
            </div>
        </header>
        <section id="title">
            <div class="content">
                <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                {% if page.description %}<p class="desc">{{ page.description }}</p>{% endif %}
            </div>
        </section>
        <div class="content" id="content">
          {{ content }}
          {% if page.use == "index" %}
            <ul>
              {% for article in site.pages %}{% if article.url contains page.url and article.url != page.url %}
                <li><a href="{{ article.url | prepend: site.url }}" title="{{ article.title }}">{{ article.title }}</a>{% if article.description %} - {{ article.description }}{% endif %}</li>
              {% endif %}{% endfor %}
            </ul>
          {% endif %}
        </div>
        <footer>
            <div class="content">
                <div class="col-xs-3 center">
                    <a href="http://www.hurfo.com"><img src="{{ "/res/brand/Hgreyl.png" | prepend: site.baseurl }}" alt="Owen Hurford" /></a>
                    <p>Designed and built by <br /> <a href="http://www.hurfo.com/" target="_blank">Owen Hurford</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>
